.game-side {
    margin-top: 5em;
    width: 15em;
    height: 15em;
    // background: #360033;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0.2em solid white;
}

.score {
    text-align: center;
}

.col-md-4 {
    margin-top: 5em;
    width: 15em;
    height: 15em;
    //background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    //background: linear-gradient(to right, #25c481, #25b7c4);
    color: black;
}

.winning {
    color: white;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.winningScore {
    color: white;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}

.game-grid {
    md-grid-tile {
        cursor: pointer;
        &:nth-child(2), &:nth-child(5), &:nth-child(8) {
            border-left: 5px groove white;
            border-right: 5px groove white;
        }

        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            border-top: 5px groove white;
            border-bottom: 5px groove white;
        }

        i.material-icons.tick {
            color: white;
        }

        i.material-icons.donut_large {
            color: white;
            font-size: 3.4em;
        }

        i.material-icons.cross {
            color: white;
            font-size: 3.8em;
        }
    }
}