<div class="container">
    <div class="col-md-8">
        <div class="game-side">
            <md-grid-list class="game-grid" cols="3">
                <md-grid-tile *ngFor="let cell of gameService.cells; let i = index;" (click)="playerClick(i)"><i [class]="cell.symbol == 'donut_large' ? 'material-icons donut_large' : 'material-icons cross'">{{ cell.symbol }}</i></md-grid-tile>
                </md-grid-list>
        </div>
    </div>
    <div class="col-md-4">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td [ngClass]="{'winning': isUserWinning()}">You:</td>
                    <td [ngClass]="{'winningScore': isUserWinning()}">{{this.gameService.scores[0]}}</td>
                </tr>
                <tr>
                    <td [ngClass]="{'winning': isComputerWinning()}">Computer:</td>
                    <td [ngClass]="{'winningScore': isComputerWinning()}">{{this.gameService.scores[1]}}</td>
                </tr>
                <tr>
                    <td [ngClass]="{'winning': isDrawn()}">Draws:</td>
                    <td [ngClass]="{'winningScore': isDrawn()}">{{this.gameService.scores[2]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>